{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow rounded-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Adicionar Novo Dispositivo</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                {{ form.as_table }}
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary px-4">Salvar</button>
                            <a href="{% url 'index1' %}" class="btn btn-secondary ms-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
