{% extends 'base.html' %}

{% block title %}Editando '{{ dispositivos.nome }}'{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1 class="mb-4">Editando '{{ dispositivos.nome }}'</h1>
    
    <div class="card shadow p-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'detalhes' dispositivos.id_automatico %}" class="btn btn-secondary ms-2">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
